html,
body {
  scroll-behavior: smooth;
}

a,
a:hover {
  text-decoration: none;
  color: var(--text-color);
}

* {
  margin: 0;
}

body {
  font-family: sans-serif;
}

section {
  padding: 45px 0 80px 0;
}

section .heading {
  text-align: center;
}
