@import "custom.scss";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";
@import "utils/_base.scss";
@import "utils/_timeline.scss";
@import "utils/_social.scss";
@import "utils/_aos-animation.scss";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Palanquin:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Alegreya&display=swap");

:root {
  --main-color: #f9ed39;
  --second-color: #1c294b;
  --third-color: #1c574c;
  --text-color: #1c294b;
  --test-color: #1c574c;
}

.heading {
  width: 30rem;
  background: var(--test-color);
  margin: 2rem auto;
}

@media screen and (max-width: 992px) {
  .heading {
    width: 15rem;
    background: var(--test-color);
    margin: 2rem auto;
  }
  h2 {
    font-size: 1rem;
  }
}

.heading h2 {
  text-transform: uppercase;
  background: var(--test-color);
  color: white;
  padding: 1rem 4rem;
}
